<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card auth-card">
        <h2 class="text-center mb-4">ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç·¨é›†</h2>

        <div class="d-flex justify-content-end">
          <%= button_to "ðŸ—‘ å‰Šé™¤", registration_path(:user), method: :delete, data: { confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" }, class: "btn btn-danger btn-sm" %>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
          <div class="mb-3">
            <%= f.label :nickname, "ãƒ‹ãƒƒã‚¯ãƒãƒ¼ãƒ ", class: "form-label" %>
            <%= f.text_field :nickname, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= f.label :email, "ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹", class: "form-label" %>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= f.label :password, "æ–°ã—ã„ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ï¼ˆå¤‰æ›´ã—ãªã„å ´åˆã¯ç©ºæ¬„ï¼‰", class: "form-label" %>
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, "æ–°ã—ã„ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ç¢ºèª", class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>

          <div class="mb-3">
            <%= f.label :current_password, "ç¾åœ¨ã®ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ï¼ˆå¤‰æ›´ã«ã¯å…¥åŠ›ãŒå¿…è¦ï¼‰", class: "form-label" %>
            <%= f.password_field :current_password, class: "form-control", required: true %>
          </div>

          <%= f.submit "æ›´æ–°ã™ã‚‹", class: "btn btn-primary w-50 d-block mx-auto" %>

          <div class="text-center mt-3">
           <%= link_to "æˆ»ã‚‹", user_path(current_user), class: "d-block" %>
         </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
